@font-face {
    font-family: bilibili;
    src: url(//s1.hdslb.com/bfs/static/jinkela/home/asserts/iconfont.ttf) format("truetype");
}

.bilibiliBox {
    position: relative;
    clear: both;
    margin: 0.6em auto;
    height: calc(1.8em + 2px);
    max-width: 640px;
    border-color: var(--color-warm-dark);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 0 10px 0;
    background-color: #FFF;
    text-align: center;
}

.bilibiliTitle {
    display: block;
    overflow: hidden;
    margin: 0 3em;
    color: #00A1D6;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bilibiliTitle:before {
    margin-right: 0.5em;
    content: '\E668';
    font-family: bilibili;
}

.bilibiliHide {
    position: absolute;
    top: 0;
    right: 0;
}

.bilibiliHide:before {
    content: '[';
}

.bilibiliHide:after {
    content: ']';
}

.bilibiliVideo {
    display: none;
    border: none;
}

.bilibiliBoxShow {
    height: 480px;
}

.bilibiliBoxShow > .bilibiliVideo {
    display: block;
    margin: 0.5em;
    width: calc(100% - 1em);
    height: calc(100% - 2.8em);
    border-bottom-right-radius: 10px;
}


@media screen and (max-width: 600px) {
    .bilibiliBoxShow {
        height: 360px;
    }
}