---
---
/* 链接 */
a[target="_blank"] {
    text-decoration: underline;

    &::before {
        display: inline-block;
        margin: 0 5px;
        width: 11px;
        height: 11px;
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%232196f3%22%20viewBox%3D%220%200%201650%201650%22%3E%3Cpath%20d%3D%22M825%200C368%200%200%20368%200%20825s368%20825%20825%20825%20825-369%20825-825S1281%200%20825%200zm253%20883c0%203-3%203-6%206%200%200-264%20264-300%20297-38%2033-99%2033-138%200-36-30-41-80-11-116l11-11%20237-234-236-234c-36-30-41-80-11-115l11-11c38-33%2099-33%20138%200%2036%2033%20300%20297%20300%20297%2033%2033%2038%2085%205%20121z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') !important;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
    }

    &::after {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 9px;
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23888%22%20viewBox%3D%220%200%2012%209%22%3E%3Cpath%20d%3D%22M3%2C0v6h9v-6Zm1%2C2h7v3h-7ZM0%2C3v6H9V7H8v1H1V5h1V3Z%22%2F%3E%3C%2Fsvg%3E') !important;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
    }
}

.plainlinks {
    a {
        text-decoration: none;

        &::before, &::after {
            content: normal;
            display: none;
        }
    }
}

/* 视频 */
.youtube-video {
    margin: 15px auto;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.youtube-video-iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* 注解 */
.footnote {
    float: footnote;
}

.footnote-icon {
    display: inline-block;
    box-sizing: content-box;
    padding: 0.5rem 0;
    height: 0;
    min-width: 1rem;
    border: 1px solid var(--color-warm-dark);
    border-radius: 50%;
    color: var(--color-warm-dark);
    vertical-align: super;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0;
    cursor: pointer;
}

.footnote-icon:hover {
    text-decoration: none;
}

/* header */
.xz-header {
    margin-bottom: 0;
    user-select: none;
}

.xz-navimage {
    padding-top: 9px;
    padding-bottom: 9px;
}

/* heading */
.xz-heading, .xz-header, .container, .row {
    + .google-auto-placed, > .google-auto-placed {
        display: none !important;
    }
}

.xz-heading-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 0;
    filter: opacity(0.05);
}

.xz-heading {
    position: relative;

    & > .container {
        position: relative;
    }
}

.xz-meta-create-top {
    display: block;
    margin-bottom: 0;
    padding-left: 0;
    font-weight: 700;
    font-size: 1rem;
}

.xz-meta-infomation {
    padding-left: 2rem;

    &::after {
        content: '';
        display: block;
        clear: left;
    }

    & > * {
        float: left;
        margin-left: 0;
        margin-right: 1em;
        padding: 0;
        font-size: 1rem;
    }

    .xz-meta-update::before {
        display: inline-block;
        content: "\66f4\65b0\65f6\95f4\ff1a";
    }

    .xz-meta-tags {
        &::before {
            display: inline-block;
            content: "\6807\7b7e\ff1a";
        }

        & > li {
            display: inline-block;
            margin-right: 0.5em;

            & > a {
                color: inherit;

                &::before {
                    content: "#";
                }
            }
        }
    }
}

/* sidenav */
.xz-sidenav {
    padding-top: 30px;
    padding-bottom: 30px;

    .nav > li > a {
        padding: 5px 10px;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}

.xz-sidenav-list {
    top: 0;
    overflow-y: auto;
    max-height: calc(100vh - 50px);

    li {
        & > ul {
            overflow-y: auto;
            padding-left: 1em;
            max-height: 0;
            font-size: 0.9em;
            transition: all 0.5s ease-out;
        }
        
        & > a {
            color: var(--color-warm-dark);

            &:hover, &:focus {
                background-color: var(--color-warm-lighter);
            }
        }
    }

    li.active {
        & > ul {
            max-height: 100vh;
        }

        & > a {
            color: var(--color-warm-darker);
            font-weight: 700;
        }
    }

    & > li.active > a {
        border-left: 3px solid var(--color-warm-darker);
    }

    &.affix {
        position: fixed !important;
    }

    &.affix-top {
        position: static !important;
    }
}

/* main */
.xz-content {
    background: #fff;
}

.xz-content-main {
    margin-top: 30px;
    margin-bottom: 30px;

    & > figure {
        border: 0;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;

        figcaption {
            display: none;
        }
    }

    & > *:last-child {
        margin-bottom: 0 !important;
    }

    & > *:first-child {
        margin-top: 0 !important;
    }

    article {
        margin-top: 30px;
        margin-bottom: 30px;

        & > * {
            max-width: 100%;
        }

        & > *:last-child {
            margin-bottom: 0 !important;
        }

        & > *:first-child {
            margin-top: 0 !important;
        }

        & > .row {
            max-width: initial;
        }

        .plainlinks {
            @extend .plainlinks;
        }
    }

    /* 来源 */
    .xz-infobox-bottom {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border: 2px solid var(--color-warm-light);
        font-weight: 700;
        font-size: 0.8em;

        &::before {
            position: absolute;
            top: -2px;
            left: 20px;
            display: block;
            width: 4.4em;
            border-top: 2px solid var(--color-cold-dark);
            content: '';
        }

        & > div > div:first-child {
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        & > div:last-child > ul {
            margin-bottom: 0;
        }

        ul {
            list-style-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23e60012%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%201650%201650%22%3E%3Cpath%20d%3D%22M825%200C368%200%200%20368%200%20825s368%20825%20825%20825%20825-369%20825-825S1281%200%20825%200zm253%20883c0%203-3%203-6%206%200%200-264%20264-300%20297-38%2033-99%2033-138%200-36-30-41-80-11-116l11-11%20237-234-236-234c-36-30-41-80-11-115l11-11c38-33%2099-33%20138%200%2036%2033%20300%20297%20300%20297%2033%2033%2038%2085%205%20121z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        }

        a {
            word-break: break-all;
            color: inherit;
        }
    }
}

.xz-content-comment {
    & > div {
        display: none;
    }

    & > div#lv-container {
        display: block;

        & > div {
            display: none;
        }
    }
}

/* footer */
.xz-footer-navtop {
    position: fixed;
    right: 25px;
    bottom: 25px;
    text-align: center;

    & > a {
        display: block;
    }
}

.xz-footer {
    bottom: 0;
    padding: 30px;
    width: 100%;
    border-top: 1px solid #888;
    background-color: #ffffff;
    font-size: 0.9rem;

    a {
        color: inherit;
    }

    ul {
        margin: 10px 0;
        padding-left: 0;

        li {
            display: inline;

            &::after {
                content: " · ";
            }

            &:last-child::after {
                content: "";
            }
        }
    }

    .xz-footer-icons {
        float: right;
    }
}

/* 自动编号 */
body {
    &.auto-numbering, &.auto-numbering-heading, &.auto-numbering-table, &.auto-numbering-figure {
        counter-reset: h2num tablenum fignum;
    }

    &.auto-numbering, &.auto-numbering-heading {
        h2, .xz-sidenav-list > li > a {
            counter-increment: h2num;
            counter-reset: h3num;

            &::before {
                margin-right: 0.25em;
                content: counter(h2num) '.';
            }
        }

        h3, .xz-sidenav-list > li > ul > li > a {
            counter-increment: h3num;
            counter-reset: h4num;

            &::before {
                margin-right: 0.25em;
                content: counter(h2num) '.' counter(h3num) '.';
            }
        }

        h4, .xz-sidenav-list > li > ul > li > ul > li > a {
            counter-increment: h4num;

            &::before {
                margin-right: 0.25em;
                content: counter(h2num) '.' counter(h3num) '.''.' counter(h4num);
            }
        }

        .xz-sidenav-list {
            counter-reset: h2num;
        }
    }

    &.auto-numbering, &.auto-numbering-table {
        .caption-table {
            counter-increment: tablenum;

            &::before {
                margin-right: 0.75em;
                content: '\8868' ' ' counter(tablenum);
            }
        }
    }

    &.auto-numbering, &.auto-numbering-figure {
        figcaption, .caption-figure {
            counter-increment: fignum;

            &::before {
                margin-right: 0.75em;
                content: '\56FE' ' ' counter(fignum);
            }
        }
    }
}

ol.square {
    counter-reset: list-item;

    & > li {
        counter-increment: list-item;
        &::marker {
            content: '[' counter(list-item) '] ';
        }
    }
}

/* 备用样式 */
.xz-table-infobox-title {
    font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
    .xz-content {
        background: linear-gradient(90deg, transparent 0, #fff 5px, #fff calc(100% - 5px), transparent 100%);
    }

    .xz-content-main {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (min-width: 992px) {
    .xz-content-main:not(:only-child) {
        border-right: 1px solid var(--color-warm-light);
    }

    .xz-sidenav-list {
        width: 212.5px;
    }

    .xz-footer-navtop {
        right: calc(50vw - 970px * 0.5 + 25px);
    }

    /* 备用样式 */

    .xz-table-infobox {
        float: right;
        margin-left: 1rem;
        width: 40%;
    }

    figure.figure-left {
        float: left;
        clear: left;
        margin-right: 1rem;
    }

    figure.figure-right {
        float: right;
        clear: right;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .xz-sidenav-list {
        width: 262.5px;
    }

    .xz-footer-navtop {
        right: calc(50vw - 1170px * 0.5 + 25px);
    }
}

@media print {
    body {
        padding-top: 0;
    }

    .xz-heading a[href]:after, .xz-footer a[href]:after {
        content: normal;
    }
}