/* 根定义 */
body {
    padding-top: 50px;
    counter-reset: tablenum fignum;
}

/* 表格 */
caption {
    clear: both;
    text-align: center;
}

caption.caption-figure {
    caption-side: bottom;
}

.caption-table {
    counter-increment: tablenum;
}

.caption-table::before {
    margin-right: 0.75em;
    content: '表 ' counter(tablenum);
}

/* 图片 */
figcaption, .caption-figure {
    counter-increment: fignum;
}

figcaption::before, .caption-figure::before {
    margin-right: 0.75em;
    content: '图 ' counter(fignum);
}

.footnote {
    float: footnote;
}

.footnote-icon {
    display: inline-block;
    box-sizing: content-box;
    padding: 0.5rem 0;
    height: 0;
    min-width: 1rem;
    border: 1px solid var(--color-warm-dark);
    border-radius: 50%;
    color: var(--color-warm-dark);
    vertical-align: super;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0;
    cursor: pointer;
}

.footnote-icon:hover {
    text-decoration: none;
}

/* 自定义版式 */
.xz-header {
    user-select: none;
}

.xz-navimage {
    padding-top: 9px;
    padding-bottom: 9px;
}

.xz-heading .google-auto-placed, .xz-heading + .google-auto-placed, .row > .google-auto-placed {
    display: none !important;
}

.xz-meta-time, .xz-meta-tags {
    display: block;
    margin-bottom: 0;
    padding-left: 2em;
    list-style: none;
    font-size: 0.8em;
}

.xz-meta-time > li {
    display: inline-block;
    margin-right: 1em;
}

.xz-meta-create::before {
    display: inline-block;
    content: "\521b\5efa\65f6\95f4\ff1a";
}

.xz-meta-update::before {
    display: inline-block;
    content: "\66f4\65b0\65f6\95f4\ff1a";
}

.xz-meta-tags::before {
    display: inline-block;
    content: "\6807\7b7e\ff1a";
}

.xz-meta-tags > li {
    display: inline-block;
    margin-right: 0.5em;
}

.xz-meta-tags > li > a {
    color: inherit;
}

.xz-meta-tags > li > a::before {
    content: "#";
}

.xz-qrcode {
    float: right;
    width: 0px;
    height: 0px;
}

.xz-qrcode canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.xz-sidenav .nav > li > a {
    padding: 5px 10px;
}

.xz-sidenav ::-webkit-scrollbar {
    width: 0;
}

.xz-sidenav-list {
    top: 50px;
    overflow-y: auto;
    width: 262.5px;
    max-height: calc(100vh - 50px);
}

.xz-sidenav-list li > ul {
    overflow-y: auto;
    padding-left: 1em;
    max-height: 0;
    font-size: 0.9em;
    transition: all 0.5s ease-out;
}

.xz-sidenav-list li > a {
    color: var(--color-warm);
}

.xz-sidenav-list li > a:hover, .xz-sidenav-list li > a:focus {
    background-color: var(--color-warm-lighter);
}

.xz-sidenav-list li.active > ul {
    max-height: 100vh;
}

.xz-sidenav-list li.active > a {
    border-right: 3px solid var(--color-warm);
    color: var(--color-warm-dark);
    font-weight: 700;
}

.xz-sidenav-list.affix {
    position: fixed !important;
}

.xz-sidenav-list.affix-top {
    position: static !important;
}

.xz-content-main {
    padding: 30px;
    background-color: #ffffff;
}

.xz-content-main article > * {
    max-width: 100%;
    overflow-x: auto;
}

.xz-content-main article > .row {
    max-width: initial;
}

.xz-content-main article > *:last-child {
    margin-bottom: 0 !important;
}

.xz-content-main article > *:first-child {
    margin-top: 0 !important;
}

.xz-content-main article a {
    word-break: break-all;
}

.xz-fake-bookmark {
    position: absolute;
    margin-top: -80px;
    padding-top: 80px;
}

.xz-footer {
    bottom: 0;
    padding: 30px;
    width: 100%;
    border-top: 1px solid #888;
    background-color: #ffffff;
    font-size: 0.9rem;
}

.xz-footer a {
    color: inherit;
}

.xz-footer ul {
    margin: 10px 0;
    padding-left: 0;
}

.xz-footer ul li {
    display: inline;
}

.xz-footer ul li::after {
    content: " · ";
}

.xz-footer ul li:last-child::after {
    content: "";
}

.xz-footer-icons {
    float: right;
}

/* 备用样式 */
.xz-table-infobox-title {
    font-size: 1.6rem;
}

@media screen and (min-width: 992px) {
    .xz-content-main {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .xz-footer {
        margin-top: 60px;
    }

    /* 备用样式 */

    .xz-table-infobox {
        float: right;
        margin-left: 1rem;
        width: 40%;
    }

    figure.figure-left {
        float: left;
        clear: left;
        margin-right: 1rem;
    }
    
    figure.figure-right {
        float: right;
        clear: right;
        margin-left: 1rem;
    }
}

@media print {
    body {
        padding-top: 0;
    }

    .xz-heading a[href]:after, .xz-footer a[href]:after {
        content: normal;
    }
}