.post-block {
    position: relative;
    padding: 1.5rem 0;
    max-height: 13.8rem;
    border-bottom: 2px dashed var(--color-cold-dark);
}

.post-block::after {
    clear: both;
    display: block;
    content: '';
}

.post-block:first-child {
    padding-top: 0;
}

.post-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0;
}

.post-title > a {
    color: var(--color-cold-darker);
}

.post-block-with-image .post-title {
    margin-right: 17.2rem;
}

.post-image {
    float: right;
    display: block;
    margin: -5.4rem 0 0 1rem;
    width: 16.2rem;
    height: 10.8rem;
    object-fit: cover;
}

.post-meta-info {
    overflow-y: hidden;
    margin: 0;
    padding: 0 0.5rem;
    max-height: 5.4rem;
    color: var(--color-warm-dark);
    font-style: italic;
}

.post-read::after {
    content: '\9605\8bfb\5168\6587';
}

.page-pagination {
    margin: 30px auto;
    text-align: center;
}

.page-pagination-list > ul {
    margin: 0 auto;
}

.page-number {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .post-block {
        max-height: max-content;
    }

    .post-block-with-image .post-title {
        margin-right: 0;
    }

    .post-image {
        float: none;
        margin: 0 auto;
    }
}