---
---
/* 自定义版式 */
.xz-meta-time, .xz-meta-tags {
    display: block;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 0.8em;
}

.xz-meta-time > li {
    display: inline-block;
    margin-right: 1em;
}

.xz-meta-create::before {
    display: inline-block;
    content: "\521b\5efa\65f6\95f4\ff1a";
}

.xz-meta-update::before {
    display: inline-block;
    content: "\66f4\65b0\65f6\95f4\ff1a";
}

.xz-meta-tags::before {
    display: inline-block;
    content: "\6807\7b7e\ff1a";
}

.xz-meta-tags > li {
    display: inline-block;
    margin-right: 0.5em;
}

.xz-meta-tags > li > a {
    color: inherit;
}

.xz-meta-tags > li > a::before {
    content: "#";
}