.gameIntroBox {
    border: 1px solid var(--color-content-dark);
    border-radius: 1.2em;
    background: var(--color-content-light);
}

.gameIntroFirstLine {
    display: table;
}

.gameIntroLogoBox {
    width: 40%;
}

.gameIntroInfoBox {
    width: 60%;
}

.gameIntroLogoBox, .gameIntroInfoBox {
    display: table-cell;
    padding: 0.6em;
    height: 100%;
    vertical-align: middle;
}

.gameIntroLogoBox > img {
    border-radius: 0.6em;
}

.gameIntroTitle {
    color: var(--color-content-dark);
    font-weight: bold;
    font-size: 2em;
    line-height: 1.5em;
}

.gameIntroTitleOri {
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.5em;
}

.gameIntroType:before {
    content: "游戏类型：";
}

.gameIntroRelease:before {
    content: "发行时间：";
}

.gameIntroWebsite {
    margin: 0;
    padding: 0;
}

.gameIntroWebsite:before {
    content: "外部链接：";
}

.gameIntroWebsite > li {
    display: inline-block;
}

.gameIntroWebsite > li:after {
    content: " | ";
}

.gameIntroWebsite > li:last-child:after {
    content: "";
}

.gameIntroWebsite > li > a:hover {
    color: var(--color-content-dark);
}

.gameIntroWebsiteOfficial > a:before {
    content: "\f015";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.gameIntroWebsiteSteam > a:before {
    content: "\f1b6";
    font-family: "Font Awesome 5 Brands";
}

.gameIntroWebsiteNintendoSwitch > a:before {
    content: "\f418";
    font-family: "Font Awesome 5 Brands";
}

.gameIntroDesc {
    clear: both;
    padding: 0 0.6em;
    text-indent: 2em;
}

@media screen and (max-width: 600px) {
    .gameIntroFirstLine, .gameIntroLogoBox, .gameIntroInfoBox {
        display: block;
        width: 100%;
    }
}