---
css: posts
js: posts
no_comment: true
no_sidenav: true
title: 欢迎来到 Xzonn 的小站！
---
<h2>导航</h2>
<div class="row plainlinks">
    <div class="col-sm-6"><a target="_self" href="/posts/Study.html">{% include image.html src="https://file.moetu.org/images/2020/02/24/3bf4c47b846c8e412cfb78b593849c6569e03cc75f41adff.png" alt="学习资料分享" class="xz-index-image" width="1200" height="400" %}</a></div>
    <div class="col-sm-6"><a target="_self" href="/PokemonChineseTranslationRevise/">{% include image.html src="https://file.moetu.org/images/2020/02/24/fb9ea10a947e3c664028f41e7149964035b967f454cba322.png" alt="《精灵宝可梦》第四世代汉化修正" class="xz-index-image" width="1200" height="400" %}</a></div>
    <div class="col-sm-6"><a target="_self" href="/LuigiMansion/">{% include image.html src="https://file.moetu.org/images/2020/02/24/d220967df92c5998102ad948ec40d77e084f68ea0bc6e43f.png" alt="路易吉洋馆 汉化发布" class="xz-index-image" width="1200" height="400" %}</a></div>
    <div class="col-sm-6"><a target="_self" href="/posts/">{% include image.html src="https://file.moetu.org/images/2020/02/24/c0de7754587a91bee2dcd637b37a2035e5ecd03d3e29fdcc.png" alt="文章列表" class="xz-index-image" width="1200" height="400" %}</a></div>
</div>
<a href="javascript:void()" class="page-list-refresh">清除缓存</a>
<h2 class="page-block-heading">文章一览</h2>
<div class="page-block-list"></div>
<div class="page-count text-center">本站共有 <span class="post-total"></span> 篇文章，共 <span class="page-total"></span> 页。</div>
<div class="row">
    <div class="xz-pagination-list col-sm-8">
        <ul class="pagination"></ul>
    </div>
    <form class="xz-pagination-form col-sm-4">
        <div class="input-group">
            <div class="input-group-addon">页码：</div>
            <input name="page" class="xz-pagination-input form-control" placeholder="请输入页码"/>
            <span class="input-group-btn">
                <button class="btn btn-primary">前往</button>
            </span>
        </div>
    </form>
</div>