---
i18n: true
i18n_en: /posts/
js: posts
no_comment: true
no_sidenav: true
title: 欢迎来到 Xzonn 的小站！
---
<h2>导航</h2>
<div class="row plainlinks">
  <div class="col-lg-4 col-sm-6"><a target="_self" href="https://sv.xzonn.top/">{% include image.html src="5af777f509c6bfd03d33acc281acc83b.webp" alt="《宝可梦 朱／紫》数据库" class="xz-index-image" width="1200" height="400" %}</a></div>
  <div class="col-lg-4 col-sm-6"><a target="_self" href="/PokemonChineseTranslationRevise/">{% include image.html src="a0e93d95f6c301658c2ef764012f2696.webp" alt="《宝可梦》第四世代汉化修正" class="xz-index-image" width="1200" height="400" %}</a></div>
  <div class="col-lg-4 col-sm-6"><a target="_self" href="/study/">{% include image.html src="654f18471a013552e781c3c0247f6523.webp" alt="学习资料分享" class="xz-index-image" width="1200" height="400" %}</a></div>
  <div class="col-lg-4 col-sm-6"><a target="_self" href="https://resume.xzonn.top/">{% include image.html src="767dcd1a336cab6c1a8a3cdb3911d647.webp" alt="个人简历" class="xz-index-image" width="1200" height="400" %}</a></div>
  <div class="col-lg-4 col-sm-6"><a target="_self" href="/posts/">{% include image.html src="326acc441b042ff30864559f41d3363e.webp" alt="文章列表" class="xz-index-image" width="1200" height="400" %}</a></div>
  <div class="col-lg-4 col-sm-6"><a target="_self" href="/games/">{% include image.html src="0392212face3d989d87b0b6307b0f1d9.webp" alt="游戏记录" class="xz-index-image" width="1200" height="400" %}</a></div>
</div>
<a href="javascript:void()" class="page-list-refresh">清除缓存</a>
<h2 class="page-block-heading">文章一览</h2>
<div class="btn-group">
  <input type="radio" class="btn-check" name="post-block-radio" id="post-block-radio-update" autocomplete="off" value="update" />
  <label class="btn btn-outline-primary" for="post-block-radio-update">按更新时间排序</label>
  <input type="radio" class="btn-check" name="post-block-radio" id="post-block-radio-create" autocomplete="off" value="create" />
  <label class="btn btn-outline-primary" for="post-block-radio-create">按创建时间排序</label>
</div>
<div class="post-block-list"></div>
<div class="page-count text-center">本站共有 <span class="post-total"></span> 篇文章，共 <span class="page-total"></span> 页。</div>
<div class="row justify-content-sm-center">
  <div class="xz-pagination-list col-sm-7">
    <ul class="pagination"></ul>
  </div>
  <form class="xz-pagination-form col-sm-3">
    <div class="input-group">
      <span class="input-group-text">页码：</span>
      <input name="page" class="xz-pagination-input form-control" placeholder="请输入页码"/>
      <button class="btn btn-primary">前往</button>
    </div>
  </form>
</div>