@charset "UTF-8";

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans CJK SC", "Source Han Sans CN", "Microsoft Yahei", Simhei, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-sans-serif-print: Arial, Simhei, sans-serif;
    --font-family-serif: "Times New Roman", "Source Han Serif CN", Simsun, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-serif-print: "Times New Roman", Simsun, serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Sans CJK SC", "Source Han Sans CN", "Microsoft Yahei", Simhei, monospace;
    --font-family-reference: "Times New Roman", FangSong, Simfang, KaiTi, Simkai, Simsun, serif;
    --color-left-block: #FFCC6B;
    --color-left-block-light: #FFE3AE;
    --color-left-block-dark: #A67923;
    --color-content: #6B92E0;
    --color-content-light: #ABC2F0;
    --color-content-light-transparent: rgba(171, 194, 240, 0.2);
    --color-content-dark: #234892;
    --image-note: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20720%20720%22%3E%3Ccircle%20cx%3D%22360%22%20cy%3D%22360%22%20r%3D%22320%22%20style%3D%22fill%3Anone%3Bstroke%3A%231E226E%3Bstroke-width%3A80px%22%2F%3E%3Cpath%20d%3D%22M264%2C418c-19-15-61-37-91-52l37-52c28%2C12%2C71%2C32%2C93%2C46Zm64%2C59c-25%2C50-54%2C102-84%2C150l-59-47c25-36%2C62-94%2C91-150ZM290%2C285c-19-15-60-39-89-54l39-51c27%2C12%2C70%2C33%2C91%2C48ZM627%2C551v66H315V551H441V467H349V401h91V329H330V263H449c-6-20-18-48-29-69l64-22c13%2C23%2C29%2C53%2C35%2C73l-49%2C17H613v66H514v72h83v66H514v84Z%22%20transform%3D%22translate%28-40%20-40%29%22%20style%3D%22fill%3A%231E226E%22%2F%3E%3C%2Fsvg%3E);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a, button, div, input {
    transition: all 0.3s ease-out;
}

body {
    background-image: url(background.png);
    background-attachment: fixed;
    font-size: 15px;
    font-family: var(--font-family-sans-serif);
    line-height: 1.8em;
}

h1 {
    font-size: 1.8em;
    line-height: 1.8em;
}

h1#rightTitle:after {
    display: block;
    padding-left: 30px;
    content: "\6765\81ea Xzonn \7684\5c0f\7ad9";
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    line-height: 1em;
}

h2 {
    font-size: 1.6em;
    line-height: 1.8em;
}

h3 {
    font-size: 1.4em;
    line-height: 1.8em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.8em;
}

h5, h6 {
    font-size: 1em;
    line-height: 1.8em;
}

ul, ol, dl, table, pre, .imgBlock {
    margin: 0.6em auto;
}

p {
    margin: 0.2em auto;
    text-indent: 2em;
}

blockquote {
    position: relative;
    margin: 0.6em;
    padding: 0 1.8em;
    color: var(--color-content-dark);
    font-family: var(--font-family-serif);
}

blockquote:before, blockquote:after {
    position: absolute;
    display: block;
    color: var(--color-content-light);
    font-size: 3.6em;
    line-height: 1em;
}

blockquote:before {
    top: 0;
    left: 0;
    content: "\201c";
}

blockquote:after {
    right: 0;
    bottom: 0;
    content: "\201e";
}

ul, ol {
    padding-left: 1.66em;
}

ul ul, ul ol, ol ol, ol ul {
    margin: 0 auto;
    padding-left: 0.84em;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1.66em;
}

.no-list-style {
    list-style: none;
}

#content table {
    min-width: 75%;
    border: double var(--color-content-dark);
    border-collapse: collapse;
    border-width: 3px 0;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.8em;
}

#content table > * > tr > td {
    padding: 0 3px;
    border: 1px dashed var(--color-content);
}

#content table > * > tr > th {
    padding: 0 5px;
    border: 1px solid var(--color-content-dark);
}

#content table > * > tr > :first-child {
    border-left: none;
}

#content table > * > tr > :last-child {
    border-right: none;
}

#content table > * > tr:first-child > * {
    border-top: 1px solid var(--color-content-dark);
}

#content table > * > tr:last-child > * {
    border-bottom: 1px solid var(--color-content-dark);
}

code, kbd {
    margin: 0 0.4em;
    padding: 0.1em 0.4em;
    border: 1px solid var(--color-content);
    border-radius: 3px;
    font-size: 0.9em;
}

code {
    background-color: var(--color-content-dark);
    color: var(--color-content-light);
    white-space: pre-wrap;
}

kbd {
    background-color: var(--color-content-light);
    box-shadow: inset 0 -1px var(--color-content-dark);
    color: var(--color-content-dark);
    white-space: nowrap;
    border-bottom-color: var(--color-content-dark); 
}

pre {
    clear: both;
    overflow: auto;
    border: 1px solid var(--color-content-dark);
    border-radius: 10px;
    background-color: var(--color-content-light);
    text-align: left;
    line-height: 1.5em;
}

pre code {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: var(--color-content-dark);
}

pre code ul {
    margin: 0;
    padding-left: 3em;
    list-style: decimal-leading-zero;
}

pre code ul li {
    padding: 0 0.5em;
    border-left: 1px solid var(--color-content);
    background: rgba(255, 255, 255, 0.7);
}

pre code ul li:nth-child(2n) {
    background: rgba(255, 255, 255, 0.4);
}

a {
    color: var(--color-content-dark);
    text-decoration: none;
}

a[href]:hover {
    color: var(--color-content-light);
    text-decoration: underline;
}

img, svg {
    margin: 0 auto;
    max-width: 100%;
    vertical-align: middle;
}

canvas {
    display: block;
}

.imgGallery, .imgBlock {
    overflow: hidden;
    width: max-content;
    max-width: 100%;
    border: 1px solid var(--color-content);
    background-color: var(--color-content-light);
}

.imgGallery:after {
    clear: left;
    display: block;
    content: "";
}

.imgGallery .imgBlock {
    float: left;
    clear: none;
    margin: 0;
    width: 25%;
    min-width: 240px;
    border: 0;
    background: none;
}

.imgBlock {
    padding: 1em;
    color: var(--color-content-dark);
    text-align: center;
    font-size: 0.8em;
}

.imgBlock.a-l {
    float: left;
    clear: left;
    margin: 0 1em 2px 0;
}

.imgBlock.a-r {
    float: right;
    clear: right;
    margin: 0 0 2px 1em;
}

.imgBlock > a > * {
    display: block;
    margin: 0 auto;
    border: 1px solid var(--color-content-light);
    background-color: #FFF;
}

.imgDisc {
    margin-bottom: -1em;
}

::selection {
    background-color: var(--color-content-dark);
    color: var(--color-left-block-light);
}

ref {
    position: absolute;
    bottom: 0;
    left: 1px;
    z-index: 2;
    display: block;
    padding: 3px 3px 3px 26px;
    width: calc(100% - 33px);
    border: 1px dashed var(--color-content-dark);
    border-radius: 10px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    background-position: 3px;
    background-size: 20px;
    color: var(--color-content-dark);
    text-indent: 0;
    font-size: 0.8em;
    font-family: var(--font-family-serif);
}

.reficon {
    display: inline-block;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

ref, .reficon {
    background-image: var(--image-note);
    background-repeat: no-repeat;
}

.MathJax_SVG_Display {
    margin: 0 !important;
}

.MathJax_SVG {
    outline: none;
}

.MathJax_SVG text {
    font-size: 16px;
}

text {
    font-family: var(--font-family-sans-serif) !important;
}

.chemSvg {
    font-size: 10px;
    fill: #000;
    stroke: #000;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    stroke-width: 0;
    fill-rule: evenodd;
    stroke-linejoin: miter;
    text-anchor: start;
}

.hide {
    display: none;
}

.a-l {
    float: left;
}

.a-c {
    margin-right: auto;
    margin-left: auto;
}

.a-r {
    float: right;
}

.va-m {
    vertical-align: middle;
}

.va-t {
    vertical-align: top;
}

.va-b {
    vertical-align: bottom;
}

.at-c {
    text-align: center;
}

.at-l {
    text-align: left;
}

.at-r {
    text-align: right;
}

p.at-c, p.at-l, p.at-r {
    text-indent: 0;
}

.no-bg {
    background: transparent !important;
}

.transparent {
    border: none !important;
    opacity: 0 !important;
}

#leftBlock {
    position: fixed;
    top: 20px;
    left: 15%;
    width: 300px;
    height: calc(100% - 190px);
    max-height: 600px;
    min-height: 360px;
    border: 1px solid;
    border-color: #FFF;
    border-style: dashed;
    border-width: 2px 0 2px 2px;
    border-radius: 10px 0 0 10px;
    background-color: var(--color-left-block-light);
    box-shadow: var(--color-left-block-dark) -3px 3px 3px;
    text-align: center;
}

#leftrightBlock {
    height: calc(100% - 12.8em);
}

#leftAvatar {
    margin: 0.6em auto;
    width: 8em;
    height: 8em;
    border: 2px solid var(--color-left-block-dark);
    border-radius: 60px;
    background-image: url(https://avatars0.githubusercontent.com/u/30619816);
    background-size: 100%;
}

#leftTopLink {
    display: block;
    color: var(--color-left-block-dark);
    font-size: 1.6em;
}

#leftToggle {
    margin: 1em 0 0 0;
    padding: 0;
    border-radius: 1em 1em 0 0;
    background-color: var(--color-left-block);
    list-style: none;
}

.leftToggleItem {
    display: inline-block;
}

.leftToggleItem:after {
    content: " |";
}

.leftToggleItem:last-child:after {
    content: none;
}

.leftToggleItemLink {
    color: #888;
    cursor: pointer;
}

.leftToggleItemLinkOn {
    color: #000;
    font-weight: bold;
    cursor: auto;
}

#leftNavigation, #leftToc {
    overflow: auto;
    margin: 0;
    padding: 0 0.66em 0 1.66em;
    height: calc(100% - 2.8em);
    border-bottom-left-radius: 10px;
    background-color: var(--color-left-block-dark);
    text-align: left;
}

#leftNavigation a, #leftNavigation i, #leftToc a, #leftToc i {
    color: var(--color-left-block-light);
}

#leftNavigation i, #leftToc i {
    width: 1.5em;
}

#rightBlock {
    position: relative;
    margin: 20px 15% 20px calc(15% + 300px);
    padding: 1em;
    border-color: #FFF;
    border-style: dashed;
    border-width: 2px 2px 2px 0;
    border-radius: 0 10px 10px 0;
    background-color: var(--color-content-light-transparent);
    box-shadow: var(--color-content-dark) 3px 3px 3px;
    text-align: justify;
}

#rightBlock:after {
    clear: both;
    display: block;
    content: "";
}

#rightQrcodeBlock {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    width: 80px;
    height: 80px;
}

#rightInfos, .pageInfos {
    margin: 2px 0;
    padding: 0 15px;
    border-left: 4px solid var(--color-content-dark);
    color: var(--color-content-dark);
    font-size: 12px;
    font-family: var(--font-family-monospace);
    line-height: 1.5em;
}

#rightInfos:after, .pageInfos:after {
    clear: left;
    display: block;
    content: "";
}

#rightDate, .pageDate, #rightUpdate, .pageUpdate {
    float: left;
    width: 50%;
}

#rightDate:before, .pageDate:before {
    content: "\521b\5efa\65f6\95f4\ff1a";
}

#rightUpdate:before, .pageUpdate:before {
    content: "\66f4\65b0\65f6\95f4\ff1a";
}

#rightInfoBox {
    position: relative;
    clear: right;
    padding: 2px;
    min-height: calc(1.8em + 8px);
    border-color: var(--color-left-block-dark);
    border-style: solid;
    border-width: 2px;
    border-bottom-right-radius: calc(4.5em + 2px) calc(6em + 2px);
    border-top-left-radius: calc(4.5em + 2px) calc(6em + 2px);
    background-color: #FFF;
}

#rightInfoBox > .infoBox {
    margin-top: 2px;
}

#rightInfoBox > .infoBox:first-child {
    margin-top: 0;
}

.infoBoxHide {
    position: absolute;
    top: 0;
    right: 0;
}

.infoBoxHide:before {
    content: '[';
}

.infoBoxHide:after {
    content: ']';
}

.infoBoxIcon {
    float: left;
    width: 2.4em;
    height: 2.4em;
    background-color: var(--color-left-block);
    color: var(--color-content-dark);
    text-align: center;
    font-weight: 900;
    font-size: 3em;
    font-family: "Font Awesome 5 Free";
    line-height: 2.4em;
}

.infoBoxIcon > img, .infoBoxIcon > svg {
    width: 1em;
    height: 1em;
}

#rightInfoBox > .infoBox:first-child > .infoBoxIcon {
    border-top-left-radius: 1.5em 2em;
}

.infoBoxInfo {
    overflow: auto;
    margin-left: calc(7.2em + 2px);
    padding: 0 2em;
    height: 7.2em;
    background-color: var(--color-left-block-light);
}

#rightInfoBox > .infoBox:last-child > .infoBoxInfo {
    border-bottom-right-radius: 4.5em 6em;
}

#rightInfoBox p {
    margin: 0;
    min-height: 1.8em;
    text-align: center;
    text-indent: 0;
}

#content {
    clear: right;
}

#content > *:last-child {
    margin-bottom: 0 !important;
}

#content > *:first-child {
    margin-top: 0 !important;
}

#rightComment {
    clear: both;
}

#payBlock {
    position: fixed;
    bottom: 20px;
    left: 15%;
    width: 300px;
}

#payBlock:before {
    position: fixed;
    bottom: 122px;
    left: 15%;
    display: block;
    box-sizing: border-box;
    padding: 16px;
    width: 300px;
    border-radius: 24px 24px 0 0;
    background: var(--color-left-block-light);
    content: "\6b22\8fce\6295\5582\ff5e";
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    opacity: 0;
    transition: all 0.3s ease-out;
    page-break-before: always;
}

#payBlock:hover:before {
    bottom: 170px;
    opacity: 1;
}

#alipayQrcodeBlock, #wxpayQrcodeBlock {
    position: relative;
    float: left;
    display: block;
    box-sizing: border-box;
    padding: 15px;
    width: 150px;
    height: 150px;
    border: 6px solid;
    background: #FFF;
    text-align: center;
    opacity: 0.15;
    transition: opacity 0.5s ease-out;
}

#alipayQrcodeBlock > canvas, #wxpayQrcodeBlock > canvas {
    margin: 0 auto;
}

#alipayQrcodeBlock:hover, #wxpayQrcodeBlock:hover {
    opacity: 1;
}

#alipayQrcodeBlock {
    border-color: #019FE8;
}

#wxpayQrcodeBlock {
    border-color: #22AB38;
}

#alipayQrcodeBlock:after, #wxpayQrcodeBlock:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
}

#alipayQrcodeBlock:after {
    color: #019FE8;
    content: "\963f\91cc\6295\5582";
}

#wxpayQrcodeBlock:after {
    color: #22AB38;
    content: "\817e\8baf\6295\5582";
}

#topLink:before {
    position: fixed;
    right: 32px;
    bottom: 32px;
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: var(--color-content-light);
    content: "\f0a6";
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    font-family: "Font Awesome 5 Free";
    line-height: 128px;
    opacity: 0.25;
    transition: opacity 0.3s ease-out;
}

#topLink:hover {
    color: var(--color-content-dark);
}

#topLink:hover:before {
    opacity: 1;
}

#footer {
    margin: 1em auto;
    max-width: 800px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#footerCounter {
    display: block;
}

#footerCnzz {
    display: none;
}

.pageBlock {
    padding: 2em 0;
    border-bottom: 2px dashed #777;
}

.pageBlock:last-child {
    border: none;
}

.pageBlock * {
    margin: 0;
}

.pageInfo {
    width: 40em;
    max-width: 100%;
    border-color: var(--color-content-dark);
    border-style: solid;
    border-width: 2px 2px 0 2px;
    border-top-right-radius: 2em 3em;
    border-top-left-radius: 1em;
    background-color: #FFF;
}

.pageTitle {
    margin: 0 0.5em;
    line-height: 2em;
}

.pageEntry {
    position: relative;
    overflow: hidden;
    padding: 0.6em;
    max-height: 10.2em;
    min-height: 6.6em;
    border-color: var(--color-content-dark);
    border-style: solid;
    border-width: 2px 2px 2px;
    border-radius: 0 1em 1em 1em;
    background-color: var(--color-content-light-transparent);
}

.pageImage {
    float: left;
    display: block;
    margin-right: 0.6em;
    height: -webkit-fill-available;
}

.pageContent {
    font-style: italic;
}

.pageRead {
    position: absolute;
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: 0;
    display: block;
    display: block;
    padding-top: 1.8em;
    width: 100%;
    height: 3.6em;
    border-radius: 0 0 1em 1em;
    background-image: linear-gradient(transparent, var(--color-content-light) 75%);
    text-align: center;
}

.pageRead:hover {
    text-decoration: none !important;
    text-shadow: var(--color-content-dark) -1px -1px 1px, var(--color-content-dark) -1px 0px 1px, var(--color-content-dark) -1px 1px 1px, var(--color-content-dark) 0px -1px 1px, var(--color-content-dark) 0px 0px 1px, var(--color-content-dark) 0px 1px 1px, var(--color-content-dark) 1px -1px 1px, var(--color-content-dark) 1px 0px 1px, var(--color-content-dark) 1px 1px 1px;
}

.pagePagination {
    position: relative;
    text-align: center;
}

.pagePrev {
    position: absolute;
    top: 0.9em;
    left: 0;
    display: block;
    text-align: left;
}

.pagePrev:before {
    content: "\2190";
}

.pageNext {
    position: absolute;
    top: 0.9em;
    right: 0;
    display: block;
    text-align: right;
}

.pageNext:after {
    content: "\2192";
}

.pageFirstLink:after {
    content: " | ";
}

.pageLastLink:before {
    content: " | ";
}

.pageCount {
    margin: 0 10em;
}

.pageNumber {
    width: 5em;
    height: 1.8em;
    border-color: var(--color-content-dark);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px 0 0 5px;
    background-color: var(--color-content-light);
    color: var(--color-content-dark);
    text-align: center;
}

.pageNumber:focus {
    width: 10em;
}

.pageGoto {
    width: 5em;
    height: 1.8em;
    border-color: var(--color-content-dark);
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-radius: 0 5px 5px 0;
    background-color: var(--color-content-dark);
    color: var(--color-content-light);
    cursor: pointer;
}

.pageGoto:hover {
    background-color: var(--color-content-light);
    color: var(--color-content-dark);
}

#pagesList {
    margin: 0 auto;
    max-width: 600px;
}

.pagesItem {
    clear: right;
}

.pagesItemTime {
    float: right;
}

.pagesItemTime:before {
    content: "[";
}

.pagesItemTime:after {
    content: "]";
}

.alert404 {
    margin: 1em auto;
    width: 400px;
    height: 400px;
    border: 2px solid var(--color-left-block-dark);
    border-radius: 200px;
    background-image: url(https://avatars0.githubusercontent.com/u/30619816);
    background-size: 100%;
}

@media screen and (max-width: 1200px) {
    #leftBlock, #payBlock, #payBlock:before {
        left: 0;
    }

    #rightBlock {
        margin-right: 0;
        margin-left: 300px;
    }

    .pageInfo {
        width: 100%;
    }

    .pageEntry {
        border-top-right-radius: 0;
    }
}

@media print, screen and (max-width: 800px) {
    .noMobile {
        display: none !important;
    }

    #rightBlock {
        margin: 0;
        width: 100%;
        max-width: 100%;
        border: 0;
        border-radius: 0 !important;
        box-shadow: none;
    }

    #rightQrcodeBlock {
        position: unset;
        float: right;
    }
}

@media screen and (max-width: 800px) {
    #leftBlock {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 12.8em;
        max-height: none;
        min-height: 0;
        border: 0;
        border-radius: 0 !important;
        box-shadow: none;
    }

    #leftleftBlock {
        position: absolute;
        top: 0;
        left: 0;
        width: 12em;
    }

    #leftrightBlock {
        position: absolute;
        top: 0;
        left: 12em;
        width: calc(100% - 12em);
    }

    #leftToggle {
        margin: 0;
    }

    #leftNavigation, #leftToc {
        height: 11em;
        border-bottom-left-radius: 0;
    }

    #payBlock {
        position: initial;
        width: 100%;
    }

    #payBlock:before {
        position: initial;
        width: 100%;
        border-radius: 24px 24px 0 0;
        opacity: 1;
    }

    #alipayQrcodeBlock, #wxpayQrcodeBlock {
        width: 50%;
        opacity: 0.6;
    }
}

@media screen and (max-width: 600px) {
    .infoBox, #rightInfoBox {
        height: auto;
        border-bottom-right-radius: calc(3em + 2px) calc(4em + 2px);
        border-top-left-radius: calc(3em + 2px) calc(4em + 2px);
    }

    .infoBoxIcon {
        border-color: #FFF;
        border-style: solid;
        border-width: 0 2px 2px 0;
        border-bottom-right-radius: 1.5em 2em;
        font-size: 2em;
    }

    #rightInfoBox > .infoBox:first-child > .infoBoxIcon {
        border-top-left-radius: 1.5em 2em;
    }

    .infoBoxInfo {
        overflow: unset;
        margin-left: 0;
        padding-left: 4em;
        height: auto;
        min-height: calc(4.8em - 2px);
    }

    #rightInfoBox > .infoBox:first-child > .infoBoxInfo {
        border-top-left-radius: 3em 4em;
    }

    #rightInfoBox > .infoBox:last-child > .infoBoxInfo {
        border-bottom-right-radius: 3em 4em;
    }

    #rightInfoBox p {
        min-height: 0;
    }

    #leftBlock, #leftleftBlock, #leftrightBlock {
        position: static;
        width: 100%;
        height: auto;
    }

    #leftAvatar {
        float: left;
        margin: 0 -4.6em 0 1em;
        width: 3.6em;
        height: 3.6em;
    }

    #leftrightBlock {
        clear: both;
    }

    #leftNavigation, #leftToc {
        height: auto;
    }

    .pagePrev, .pageNext {
        position: static;
    }

    .pageCount {
        margin: 0;
    }

    #topLink:before {
        right: 10px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        font-size: 30px;
        line-height: 40px;
        opacity: 0.6;
    }

    .alert404 {
        width: 200px;
        height: 200px;
    }
}

@media print {
    :root {
        --color-left-block: #888;
        --color-left-block-light: #DDD;
        --color-left-block-dark: #333;
        --color-content: #888;
        --color-content-light: #DDD;
        --color-content-light-transparent: rgba(221, 221, 221, 0.4);
        --color-content-dark: #333;
        --image-note: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20720%20720%22%3E%3Ccircle%20cx%3D%22360%22%20cy%3D%22360%22%20r%3D%22320%22%20style%3D%22fill%3Anone%3Bstroke%3A%23000%3Bstroke-width%3A80px%22%2F%3E%3Cpath%20d%3D%22M264%2C418c-19-15-61-37-91-52l37-52c28%2C12%2C71%2C32%2C93%2C46Zm64%2C59c-25%2C50-54%2C102-84%2C150l-59-47c25-36%2C62-94%2C91-150ZM290%2C285c-19-15-60-39-89-54l39-51c27%2C12%2C70%2C33%2C91%2C48ZM627%2C551v66H315V551H441V467H349V401h91V329H330V263H449c-6-20-18-48-29-69l64-22c13%2C23%2C29%2C53%2C35%2C73l-49%2C17H613v66H514v72h83v66H514v84Z%22%20transform%3D%22translate%28-40%20-40%29%22%20style%3D%22fill%3A%23000%22%2F%3E%3C%2Fsvg%3E);
    }

    @page {
        margin: 6mm;
        size: auto;
    }

    .noPrint, .infoBox, #rightInfoBox, #leftBlock, #rightComment, #topLink, #payBlock, #footerCounter, .google-auto-placed {
        display: none !important;
    }

    body {
        color: #000;
        font-size: 10.5pt;
        font-family: var(--font-family-serif-print);
        line-height: 1.5;
    }

    body, #rightBlock {
        margin: 0 auto !important;
        padding: 0 !important;
        min-width: 0 !important;
        border: none !important;
        background: none !important;
        box-shadow: none !important;
    }

    #rightBlock:before {
        position: fixed;
        top: 50%;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        color: var(--color-content-light);
        content: "\6765\81ea Xzonn \7684\5c0f\7ad9";
        text-align: center;
        white-space: nowrap;
        letter-spacing: 20px;
        font-size: 40px;
        line-height: 0;
        -webkit-transform: rotateZ(30deg);
        transform: rotateZ(30deg);
    }

    blockquote, ref {
        font-family: var(--font-family-reference);
    }

    h1 {
        text-align: center;
    }

    h1#rightTitle:after {
        font-style: normal;
    }

    table {
        line-height: 1.5em;
    }

    pre {
        border-radius: 0;
    }

    #content a[href] {
        text-decoration: underline;
    }

    #content a[href]:after {
        color: var(--color-content);
        content: " (" attr(href) ")";
        font-size: 0.8em;
    }

    text {
        font-family: var(--font-family-serif-print) !important;
    }

    #content b, #content strong, #content th, h1, h2, h3, h4, h5, h6, #rightBlock:before {
        font-family: var(--font-family-sans-serif-print);
    }

    .imgBlock {
        float: right;
        clear: right;
        padding: 0;
        width: 100%;
    }

    .imgBlock.a-l, .imgBlock.a-r {
        width: auto;
    }

    .imgBlock.a-l {
        float: left;
        clear: left;
    }

    .imgBlock, .imgBlock > a > * {
        border: none;
        background: none;
    }

    .imgDisc {
        margin: 1em;
    }

    ref {
        position: initial !important;
        display: block !important;
    }

    ref + ref {
        margin-top: -1px;
    }

    ref, .reficon {
        background-image: var(--image-note);
    }
}