        <!-- Common Footer Start -->
        <div class="xz-footer-navtop">
            <a class="xz-navtop" href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
            <a class="xz-navbottom" href="#xz-footer"><span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
        <footer id="xz-footer" class="xz-footer">

        </footer>
        <!-- Han -->
        <script src="{{ site.cdnpath }}/js/han.min.js"></script>
        <!-- Common Footer End -->
        <!-- {{ page.url }} -->