                    <div class="infoBox infoBox{{ include.name }}"{% if include.data %} data-data="{{ include.data }}"{% endif %}>{% if include.color %}
                        <style class="infoBox{{ include.name }}Style"> .infoBox{{ include.name }} { --color-left-block: {{ include.color }}; --color-left-block-light: {{ include.colorLight }}; --color-left-block-dark: {{ include.colorDark }}; } {{ include.style }} </style>{% endif %}
                        <div class="infoBoxIcon">{{ include.icon }}</div>{% unless include.multiple %}
                        <span class="infoBoxHide">
                            <a class="infoBoxHideButton" href data-status="show">隐藏</a>
                        </span>{% endunless %}
                        <div class="infoBoxInfo">{% if include.multiple %}
                            <p></p>{% endif %}
                            <p>{{ include.line1 }}</p>{% if include.line2 %}
                            <p>{{ include.line2 }}</p>{% endif %}{% unless include.multiple %}
                            <p>如果需要保存本页，请 <strong><a href="javascript:window.print()">打印本页</a></strong> 并选择“另存为 PDF”。</p>
                            <p>如果您对本站有任何意见或建议，请在 <strong><a href="https://github.com/Xzonn/xzonn.github.io/issues">此页面</a></strong> 或 <strong><a href="#rightComment">留言区</a></strong> 留言。</p>{% endunless %}
                        </div>
                    </div>