<div class="pageBlock">
    <div class="pageInfo">
        <h3 class="pageTitle" id="{{ include.post.title }}"><a href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
        <div class="pageInfos">
            <div class="pageDate">{{ include.post.date | date: "%Y-%m-%d" }}</div>{% if include.post.update %}
            <div class="pageUpdate">{{ include.post.update | date: "%Y-%m-%d" }}</div>{% endif %}{% if include.post.tags.size > 1 %}
            <ul class="pageTags">{% for tag in include.post.tags %}
                <li class="pageTag"><a class="pageTagLink" href="/tags/#{{ tag }}">{{ tag }}</a></li>{% endfor %}
            </ul>{% endif %}
        </div>
    </div>
    <div class="pageEntry">{% if include.post.headImage %}
        <img class="pageImage" src="{{ include.post.headImage }}" alt="{{ include.post.title }}">{% endif %}
        <div class="pageContent">{{ include.post.content | strip_html | remove: "$" | replace: '
', ' ' | truncate: 300, "……" }}</div>
        <a href="{{ include.post.url }}" class="pageRead">阅读全文</a>
    </div>
</div>