<div class="pageBlockSimp">
    <div class="pageTitleSimp" id="{{ include.post.title }}"><a href="{{ include.post.url }}">{{ include.post.title }}</a></div>
    <div class="pageInfosSimp">
        <div class="pageDate">{{ include.post.date | date: "%Y-%m-%d" }}</div>{% if include.post.update %}
        <div class="pageUpdate">{{ include.post.update | date: "%Y-%m-%d" }}</div>{% endif %}{% if include.post.tags.size > 1 %}
        <ul class="pageTags">{% for tag in include.post.tags %}
            <li class="pageTag"><a class="pageTagLink" href="/tags/#{{ tag }}">{{ tag }}</a></li>{% endfor %}
        </ul>{% endif %}
    </div>
</div>