<ul class="headerPicList">
  <li class="headerPicItem"><a href="/Study/"><img src="/images/header-001.png" class="headerPic"></a></li>
  <li class="headerPicItem"><a href="/Pokemon-Chinese-Translation-Revise/"><img src="/images/header-002.png" class="headerPic"></a></li>
  <li class="headerPicItem"><a href="/LuigiMansion/"><img src="/images/header-003.png" class="headerPic"></a></li>
  <li class="headerPicItem"><a href="/pages/"><img src="/images/header-004.png" class="headerPic"></a></li>
</ul>