/* 颜色 */
:root,
[data-bs-theme="light"] {
  --#{$prefix}white-bg: #{$white};
  --#{$prefix}white-bg-rgb: #{to-rgb($white)};

  @each $color, $value in $xz-colors {
    --#{$prefix}color-#{$color}: #{$value};

    @each $variant, $lightness in $xz-colors-variants-light {
      --#{$prefix}color-#{$color}-#{$variant}: #{lighten($value, $lightness)};
      --#{$prefix}color-#{$color}-#{$variant}-rgb: #{to-rgb(lighten($value, $lightness))};
    }

    @each $variant, $darkness in $xz-colors-variants-dark {
      --#{$prefix}color-#{$color}-#{$variant}: #{darken($value, $darkness)};
      --#{$prefix}color-#{$color}-#{$variant}-rgb: #{to-rgb(darken($value, $darkness))};
    }
  }
}

[data-bs-theme="dark"] {
  --#{$prefix}white-bg: #{$black};
  --#{$prefix}white-bg-rgb: #{to-rgb($black)};

  @each $color, $value in $xz-colors {
    --#{$prefix}color-#{$color}: #{$value};

    @each $variant, $lightness in $xz-colors-variants-light {
      --#{$prefix}color-#{$color}-#{$variant}: #{darken($value, $lightness)};
      --#{$prefix}color-#{$color}-#{$variant}-rgb: #{to-rgb(darken($value, $lightness))};
    }

    @each $variant, $darkness in $xz-colors-variants-dark {
      --#{$prefix}color-#{$color}-#{$variant}: #{lighten($value, $darkness)};
      --#{$prefix}color-#{$color}-#{$variant}-rgb: #{to-rgb(lighten($value, $darkness))};
    }
  }
}

body {
  background-color: $color-warm-lightest;
}

/* 字体 */
.font-hei-ti {
  font-family: $font-family-sans-serif;
}

text, tspan {
  font-family: $font-family-sans-serif !important;
}

[lang="en"], [lang="en"] .biaodian {
  font-family: $font-family-sans-serif-latin;
}

.biaodian {
  font-family: $font-family-sans-serif-chinese;
}

em, blockquote, .font-song-ti {
  font-family: $font-family-serif;

  .biaodian {
    font-family: $font-family-serif-chinese;
  }

  &[lang="en"], [lang="en"], &[lang="en"] .biaodian, [lang="en"] .biaodian {
    font-family: $font-family-serif;
  }
}

.font-mono {
  font-family: $font-family-monospace;
}

/* Han.js */
h-hws, h-hws[hidden] {
  font-size: 50%;
  display: inline !important;
  user-select: none;

  &.quote-inner, &.quote-outer:lang(zh-Hans), &.quote-outer:lang(zh-CN) {
    display: none;
  }
}

code, kbd, samp, pre, svg, .MathJax {
  h-hws, h-hws[hidden] {
    display: none !important;
  }
}

/* 块元素 */
/* 段落 */
article > p {
  text-indent: 2em;
  text-align: justify;

  &.text-left, &.text-right, &.text-center, * {
    text-indent: initial;
  }
}

/* 引用 */
blockquote {
  padding: calc($line-height-base * $font-size-base / 4) calc($line-height-base * $font-size-base / 2);
  margin: 0 0 calc($line-height-base * $font-size-base / 2);
  border-left: 4px solid $color-warm-dark;
  background-color: rgba($color-warm-lightest-rgb, 0.3);
  @extend .br;

  > p:last-child {
    margin-bottom: 0;
  }
}

/* 列表 */
ul, ol {
  padding-left: 2em;
  text-align: justify;
}

ul ul, ul ol, ol ol, ol ul {
  margin: 0 auto;
  padding-left: 1em;
}

/* 表格 */
th {
  text-align: center;
}

caption {
  clear: both;
  text-align: center;

  .caption-figure {
    caption-side: bottom;
  }
}

.table-responsive {
  @extend .br;
}

.table {
  caption-side: top; /* 神TM表注放下面 */
  text-align: center;
  border-style: solid;
  border-width: calc(#{$table-border-width} * 2) 0;

  > thead {
    > tr {
      > th {
        border-bottom-width: calc(#{$table-border-width} * 2);
      }
    }
  }

  > tbody {
    vertical-align: middle; /* 神TM表格顶端对齐 */
    > tr {
      > th, > td {
        vertical-align: inherit;
      }
    }
  }

  &.float-left, &.float-right {
    width: initial;
  }
}

/* 代码 */
code {
  padding: 0.25em;
  color: $color-warm-dark;
  background-color: rgba($color-warm-lightest-rgb, 0.3);
  @include border-radius();
}

pre {
  clear: both;
  overflow: auto;
  padding: 0;
  text-align: left;
  line-height: 1.5;
  background-color: $color-warm-lighter;
  border: 1px solid $color-warm-dark;
  @extend .br;

  code {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $color-warm-dark;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }

  ul {
    margin: 0;
    padding-left: $font-size-base * 3;
    list-style: decimal;

    li {
      padding: 0 calc($font-size-base / 2) 0 calc($font-size-base * 2.5);
      border-left: 1px solid $color-warm;
      background-color: rgba($white-bg-rgb, 0.85);
      text-indent: -$font-size-base * 2;

      &:nth-child(2n) {
        background-color: rgba($white-bg-rgb, 0.7);
      }

      &::marker {
        content: counter(list-item) "\a0";
      }
    }
  }
}

/* 图片 */
img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

canvas {
  display: block;
}

figure {
  position: relative;
  overflow: hidden;
  margin: 0 auto $paragraph-margin-bottom auto;
  padding: $font-size-base;
  width: max-content;
  height: auto;
  max-width: 100%;
  border: 1px solid $color-warm;
  color: $color-warm-dark;
  text-align: center;
  font-size: $font-size-base * 0.8;
  @extend .br;

  article & {
    background-color: $color-warm-lighter;

    img:hover {
      background-color: $white-bg;
    }
  }

  & + & {
    margin-top: -calc($paragraph-margin-bottom * 0.5);
  }

  img {
    display: block;
    box-sizing: content-box;
    margin: 0 auto;
    background-color: transparent;
    transition: background-color 0.5s;
  }

  figcaption {
    clear: both;
    margin-bottom: -$font-size-base;
  }

  a.figure-link {
    position: absolute;
    bottom: 0;
    right: 0;

    &::before {
      content: normal;
    }
  }
}

@include media-breakpoint-up(lg) {
  figure.figure-left {
    float: left;
    clear: left;
    margin-right: 1rem;
  }

  figure.figure-right {
    float: right;
    clear: right;
    margin-left: 1rem;
  }
}

/* 行内元素 */
/* 链接 */
a[target="_blank"] {
  &:hover {
    text-decoration: underline;
  }

  &::after {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 9px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23888%22%20viewBox%3D%220%200%2012%209%22%3E%3Cpath%20d%3D%22M3%2C0v6h9v-6Zm1%2C2h7v3h-7ZM0%2C3v6H9V7H8v1H1V5h1V3Z%22%2F%3E%3C%2Fsvg%3E') !important;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
  }
}

.plainlinks {
  & a, a & {
    text-decoration: none;

    &::before, &::after {
      content: normal;
      display: none;
    }
  }
}

/* 引用 */
.ref-endnote {
  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }

  & > a::after {
    content: target-counter(attr(href), list-item);
  }
}

/* 选择 */
::selection {
  background-color: $color-warm-lighter;
  color: $color-warm-dark;
}

.jumbotron {
  ::selection {
    background-color: $color-cold-darker;
    color: $color-cold-light;
  }
}

article {
  figure {
    ::selection {
      background-color: $color-warm-darker;
      color: $color-warm-light;
    }
  }
}

/* 辅助样式 */
/* 圆角 */
.br {
  border-radius: 4px;
}

/* 徽章 */
.badge {
  color: $white-bg;
  @include gradient-bg(var(--#{$prefix}primary));

  a {
    color: $white-bg;
  }
}

.nav-pills > .nav-item > .nav-link {
  > .badge {
    color: var(--#{$prefix}nav-pills-link-active-color);
    @include gradient-bg(var(--#{$prefix}secondary));
  }

  &.active > .badge {
    color: var(--#{$prefix}nav-pills-link-active-bg);
    @include gradient-bg(var(--#{$prefix}nav-pills-link-active-color));
  }
}

/* 表格排序 */
// @use "../../node_modules/bootstrap-icons/font/bootstrap-icons";
.tablesorter-headerUnSorted, .tablesorter-headerAsc, .tablesorter-headerDesc {
  &:before {
    font-family: "bootstrap-icons";
    float: right;
    line-height: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.tablesorter-headerUnSorted:not(.sorter-false) {
  @extend .bi-arrow-down-up;
}

.tablesorter-headerAsc:not(.sorter-false) {
  @extend .bi-sort-down-alt;
}

.tablesorter-headerDesc:not(.sorter-false) {
  @extend .bi-sort-down;
}

/* 注解 */
.footnote {
  float: footnote;
}

.footnote-icon {
  display: inline-block;
  box-sizing: content-box;
  padding: 0.5rem 0;
  height: 0;
  min-width: 1rem;
  border: 1px solid $color-warm-dark;
  border-radius: 50%;
  color: $color-warm-dark;
  vertical-align: super;
  text-align: center;
  font-size: 0.8rem;
  line-height: 0;
  cursor: pointer;
}

.footnote-icon:hover {
  text-decoration: none;
}

/* 浮动 */
.block-center {
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

/* 对齐 */
// @use "../../node_modules/bootstrap/scss/utilities";
.text-left {
  @extend .text-start;
}

.text-right {
  @extend .text-end;
}

/* 自动编号 */
body {
  &.auto-numbering, &.auto-numbering-heading, &.auto-numbering-table, &.auto-numbering-figure {
    counter-reset: h2num tablenum fignum;
  }

  &.auto-numbering, &.auto-numbering-heading {
    h2, .xz-sidenav-list > li > a {
      counter-increment: h2num;
      counter-reset: h3num;

      &::before {
        margin-right: 0.25em;
        content: counter(h2num) '.';
      }
    }

    h3, .xz-sidenav-list > li > ul > li > a {
      counter-increment: h3num;
      counter-reset: h4num;

      &::before {
        margin-right: 0.25em;
        content: counter(h2num) '.' counter(h3num) '.';
      }
    }

    h4, .xz-sidenav-list > li > ul > li > ul > li > a {
      counter-increment: h4num;

      &::before {
        margin-right: 0.25em;
        content: counter(h2num) '.' counter(h3num) '.''.' counter(h4num);
      }
    }

    .xz-sidenav-list {
      counter-reset: h2num;
    }
  }

  &.auto-numbering, &.auto-numbering-table {
    .caption-table {
      counter-increment: tablenum;

      &::before {
        margin-right: 0.75em;
        content: '\8868' ' ' counter(tablenum);
      }
    }
  }

  &.auto-numbering, &.auto-numbering-figure {
    figcaption, .caption-figure {
      counter-increment: fignum;

      &::before {
        margin-right: 0.75em;
        content: '\56FE' ' ' counter(fignum);
      }
    }
  }
}

ol.square {
  counter-reset: list-item;

  & > li {
    counter-increment: list-item;
    &::marker {
      content: '[' counter(list-item) '] ';
    }
  }
}

/* 视频 */
.youtube-video, .bilibili-video {
  margin: 15px auto;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.youtube-video-iframe, .bilibili-video-iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 0;
  @extend .br;
}

/* 化学 */
.svg-chem {
  vertical-align: middle;
  font-size: calc($font-size-base * 2 / 3);
  fill: $body-color;
  stroke: $body-color;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  stroke-width: 0;
  fill-rule: evenodd;
  stroke-linejoin: miter;
  text-anchor: start;
}

/* Alert */
.alert {
  p, ul {
    margin-bottom: 0;
  }

  p + p, p + ul, ul + p, ul + ul {
    margin-top: 0.3rem;
  }
}

/* Panel */
.card > * {
  > p {
    text-indent: 2em;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

/* Jumbotron */
$jumbotron-padding: 2rem;

.jumbotron {
  padding: $jumbotron-padding 0;
  margin-bottom: 0;
  color: $color-cold-dark;
  background-color: $color-cold-light;
  background-image: linear-gradient(to bottom, $color-cold-light, $color-cold-lightest);

  @include media-breakpoint-up(md) {
    padding: ($jumbotron-padding * 2) 0;
  }

  h1, .h1 {
    color: $color-cold-darker;
    margin-top: 0;
  }

  p {
    font-weight: 400;
    font-size: inherit;
  }
}

/* header */
.xz-header {
  background-color: $navbar-light-bg;
  border-bottom: 1px solid $navbar-light-border;
  margin-bottom: 0;
  user-select: none;

  .navbar-brand {
    color: $navbar-light-link-active-color;

    &:hover {
      color: $navbar-light-link-active-color;
    }
  }

  a {
    color: $navbar-light-link-color;

    &:hover {
      color: $navbar-light-link-hover-color;
    }
  }
}

/* heading */
.xz-heading, .xz-header, .container, .row {
  + .google-auto-placed, > .google-auto-placed {
    display: none !important;
  }
}

.xz-heading-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 0;
  filter: opacity(0.05);
}

.xz-heading {
  position: relative;

  & > .container {
    position: relative;
  }
}

.xz-meta-create-top {
  display: block;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 700;
  font-size: 1rem;
}

.xz-meta-infomation {
  padding-left: 2rem;

  &::after {
    content: '';
    display: block;
    clear: left;
  }

  & > * {
    float: left;
    margin-left: 0;
    margin-right: 1em;
    padding: 0;
    font-size: 1rem;
  }

  .xz-meta-update::before {
    display: inline-block;
    content: "\66f4\65b0\65f6\95f4\ff1a";
  }

  .xz-meta-tags {
    &::before {
      display: inline-block;
      content: "\6807\7b7e\ff1a";
    }

    & > li {
      display: inline-block;
      margin-right: 0.5em;

      & > a {
        color: inherit;

        &::before {
          content: "#";
        }
      }
    }
  }
}

/* sidenav */
.xz-sidenav {
  padding-top: 30px;
  padding-bottom: 30px;

  .nav > li > a {
    padding: 5px 10px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

.xz-sidenav-list {
  position: sticky;
  top: 0;

  li {
    & > ul {
      overflow: hidden;
      flex-wrap: nowrap;
      padding-left: 1em;
      max-height: 0;
      font-size: 0.9em;
      transition: all 0.5s ease-out;
    }

    & > a {
      color: $color-warm-dark;

      &:hover, &:focus {
        color: $color-warm-darker;
        background-color: $color-warm-lighter;
      }

      &.active {
        color: $color-warm-darker;
        font-weight: 700;

        & + ul {
          max-height: 100vh;
        }
      }
    }
  }

  > li > a.active {
    border-left: 3px solid $color-warm-darker;
  }
}

/* main */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.xz-content {
  background: $white-bg;
  flex: 1;
}

.xz-content-main {
  margin-top: 30px;
  margin-bottom: 30px;

  & > figure {
    border: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;

    figcaption {
      display: none;
    }
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }

  & > *:first-child {
    margin-top: 0 !important;
  }

  article {
    margin-top: 30px;
    margin-bottom: 30px;

    & > * {
      max-width: 100%;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }

    & > *:first-child {
      margin-top: 0 !important;
    }

    & > .row {
      max-width: initial;
    }

    .plainlinks {
      @extend .plainlinks;
    }
  }

  /* 来源 */
  .xz-infobox-bottom {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid $color-warm-light;
    font-weight: 700;
    font-size: 0.8em;
    @include border-radius(4px);

    &::before {
      position: absolute;
      top: -2px;
      left: 20px;
      display: block;
      width: 4.4em;
      border-top: 2px solid $color-cold-dark;
      content: '';
    }

    & > div > div:first-child {
      font-size: 1.1em;
      margin-bottom: 10px;
    }

    & > div:last-child > ul {
      margin-bottom: 0;
    }

    ul {
      list-style-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23217cde%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%201650%201650%22%3E%3Cpath%20d%3D%22M825%200C368%200%200%20368%200%20825s368%20825%20825%20825%20825-369%20825-825S1281%200%20825%200zm253%20883c0%203-3%203-6%206%200%200-264%20264-300%20297-38%2033-99%2033-138%200-36-30-41-80-11-116l11-11%20237-234-236-234c-36-30-41-80-11-115l11-11c38-33%2099-33%20138%200%2036%2033%20300%20297%20300%20297%2033%2033%2038%2085%205%20121z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    }

    a {
      word-break: break-all;
      color: inherit;
    }
  }
}

/* footer */
.xz-footer-navtop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  text-align: center;

  & > a {
    display: block;
  }
}

.xz-footer {
  bottom: 0;
  padding: 30px;
  width: 100%;
  border-top: 1px solid #888;
  background-color: $white-bg;
  font-size: 0.9rem;

  a {
    color: inherit;
  }

  ul {
    margin: 10px 0;
    padding-left: 0;

    li {
      display: inline;

      &::after {
        content: " \00b7 ";
      }

      &:last-child::after {
        content: "";
      }
    }
  }

  .xz-footer-icons {
    float: right;
  }
}

/* 图片预览 */
.xz-modal-close {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: $color-warm;
  cursor: pointer;

  i {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
    transform: rotate(45deg);

    &::before,
    &::after {
      position: absolute;
      display: block;
      background-color: $white-bg;
      border-radius: 2px;
      content: '';
    }

    &::before {
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      margin-top: -2px;
    }

    &::after {
      top: 0;
      left: 50%;
      width: 4px;
      height: 100%;
      margin-left: -3px;
    }
  }
}

.xz-modal-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;

  &>* {
    display: block;
    width: 100%;
    height: auto;
  }
}

.xz-modal-youtube {
  aspect-ratio: 16/9;
}

/* 备用样式 */
@include media-breakpoint-up(md) {
  .xz-content {
    background: linear-gradient(90deg, transparent 0, $white-bg 5px, $white-bg calc(100% - 5px), transparent 100%);
  }

  .xz-content-main {
    padding-right: 30px;
    padding-left: 30px;
  }

  .xz-content-main:not(:only-child) {
    border-right: 1px solid $color-warm-light;
  }

  .xz-footer-navtop {
    right: calc(50vw - #{map-get($container-max-widths, "md")} * 0.5 + 25px);
  }
}

@include media-breakpoint-up(lg) {
  .xz-footer-navtop {
    right: calc(50vw - #{map-get($container-max-widths, "lg")} * 0.5 + 25px);
  }
}

@include media-breakpoint-up(xl) {
  .xz-footer-navtop {
    right: calc(50vw - #{map-get($container-max-widths, "xl")} * 0.5 + 25px);
  }
}

@include media-breakpoint-up(xxl) {
  .xz-footer-navtop {
    right: calc(50vw - #{map-get($container-max-widths, "xxl")} * 0.5 + 25px);
  }
}

@media print {
  body {
    padding-top: 0;
  }

  .xz-heading a[href]:after, .xz-footer a[href]:after {
    content: normal;
  }
}

/* 标签列表 */
.xz-taglist {
  margin-bottom: 1rem;
}

.xz-postlist {
  > thead > tr {
    > th:nth-child(2) {
      width: 10rem;
    }

    > th:nth-child(3), > th:last-child {
      width: 7rem;
    }
  }
}

/* 页面列表 */
.page-list-refresh {
  float: right;
  margin-top: 20px;
}

.xz-pagination-list {
  text-align: center;

  .pagination {
    justify-content: center;
  }
}

.post-block-list {
  margin: 1rem 0;
}

.post-block {
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: fit-content(100%) 1fr;
  grid-template-areas:
    "image header"
    "image summary";
  padding: 1.5rem 0;
  gap: 0 1rem;

  &::after {
    clear: both;
    display: block;
    content: '';
  }

  &:first-child {
    padding-top: 0;
  }
}

.post-block-header {
  grid-area: header;
}

.post-block-image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.post-block-summary {
  grid-area: summary;
}

.post-title {
  font-weight: $headings-font-weight;
  font-size: 1.4rem;

  & > a {
    color: $color-cold-darker;
  }
}

.post-image {
  display: block;
  width: 16rem;
  height: 9rem;
  object-fit: cover;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.2);
  }
}

.post-summary {
  margin: 0;
  padding-left: 2rem;
  color: $color-warm-dark;
}

.post-time, .post-tags {
  display: block;
  margin-bottom: 0;
  padding-left: 2rem;
  list-style: none;
  font-size: 0.8em;
}

.post-time {
  & > li {
    display: inline-block;
    margin-right: 1em;
  }

  .post-create::before {
    display: inline-block;
    content: "\521b\5efa\65f6\95f4\ff1a";
  }

  .post-update::before {
    display: inline-block;
    content: "\66f4\65b0\65f6\95f4\ff1a";
  }
}

.post-tags {
  &::before {
    display: inline-block;
    content: "\6807\7b7e\ff1a";
  }

  & > li {
    display: inline-block;
    margin-right: 0.5em;

    & > a {
      color: inherit;

      &::before {
        content: "#";
      }
    }
  }
}

.post-read::after {
  content: '\9605\8bfb\5168\6587';
}

.page-number {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .post-block {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "image"
      "summary";
  }
}

/* 搜索 */
.xz-search-box {
  &::after {
    content: "";
    display: block;
    clear: both;
  }

  svg {
    fill: $white-bg;
  }
}

.xz-search-poweredby {
  float: right;
  clear: right;
  margin-top: 15px;
}

.ais-SearchBox-submit {
  border-top-right-radius: var(--#{$prefix}border-radius) !important;
  border-bottom-right-radius: var(--#{$prefix}border-radius) !important;
}

.ais-SearchBox-reset {
  display: none !important;
}

.xz-search-hits {
  mark {
    padding-left: 0;
    padding-right: 0;
  }
}

.xz-search-list-tags {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.9rem;

    li {
      display: block;

      a {
        &, &:hover {
          color: $gray-600;
        }
      }
    }
  }
}

.xz-search-list-heading {
  padding-left: 1em;
  font-weight: normal;
}
