$prefix: bs- !default;
$white: #fff !default;
$black: #000 !default;

$xz-colors: (
  "cold": #de8321,
  "warm": #217cde,
);
$xz-colors-variants-light: (
  "slightly-light": 10%,
  "light": 25%,
  "lighter": 40%,
  "lightest": 46%,
);
$xz-colors-variants-dark: (
  "slightly-dark": 10%,
  "dark": 25%,
  "darker": 40%,
  "darkest": 46%,
);

/* 颜色 */
:root,
[data-bs-theme="light"] {
  --#{$prefix}white-bg: #{$white};
  --#{$prefix}white-bg-rgb: #{to-rgb($white)};

  @each $color, $value in $xz-colors {
    --#{$prefix}color-#{$color}: #{$value};

    @each $variant, $lightness in $xz-colors-variants-light {
      --#{$prefix}color-#{$color}-#{$variant}: #{lighten($value, $lightness)};
      --#{$prefix}color-#{$color}-#{$variant}-rgb: #{to-rgb(lighten($value, $lightness))};
    }

    @each $variant, $darkness in $xz-colors-variants-dark {
      --#{$prefix}color-#{$color}-#{$variant}: #{darken($value, $darkness)};
      --#{$prefix}color-#{$color}-#{$variant}-rgb: #{to-rgb(darken($value, $darkness))};
    }
  }
}

[data-bs-theme="dark"] {
  --#{$prefix}white-bg: #{$black};
  --#{$prefix}white-bg-rgb: #{to-rgb($black)};

  @each $color, $value in $xz-colors {
    --#{$prefix}color-#{$color}: #{$value};

    @each $variant, $lightness in $xz-colors-variants-light {
      --#{$prefix}color-#{$color}-#{$variant}: #{darken($value, $lightness)};
      --#{$prefix}color-#{$color}-#{$variant}-rgb: #{to-rgb(darken($value, $lightness))};
    }

    @each $variant, $darkness in $xz-colors-variants-dark {
      --#{$prefix}color-#{$color}-#{$variant}: #{lighten($value, $darkness)};
      --#{$prefix}color-#{$color}-#{$variant}-rgb: #{to-rgb(lighten($value, $darkness))};
    }
  }
}

$white-bg: var(--#{$prefix}body-bg);

$color-cold: var(--#{$prefix}color-cold);
$color-warm: var(--#{$prefix}color-warm);

$color-cold-slightly-light: var(--#{$prefix}color-cold-slightly-light);
$color-cold-light: var(--#{$prefix}color-cold-light);
$color-cold-lighter: var(--#{$prefix}color-cold-lighter);
$color-cold-lightest: var(--#{$prefix}color-cold-lightest);
$color-cold-slightly-dark: var(--#{$prefix}color-cold-slightly-dark);
$color-cold-dark: var(--#{$prefix}color-cold-dark);
$color-cold-darker: var(--#{$prefix}color-cold-darker);
$color-cold-darkest: var(--#{$prefix}color-cold-darkest);

$color-warm-light: var(--#{$prefix}color-warm-light);
$color-warm-lighter: var(--#{$prefix}color-warm-lighter);
$color-warm-lightest: var(--#{$prefix}color-warm-lightest);
$color-warm-dark: var(--#{$prefix}color-warm-dark);
$color-warm-darker: var(--#{$prefix}color-warm-darker);
$color-warm-darkest: var(--#{$prefix}color-warm-darkest);

$white-bg-rgb: var(--#{$prefix}white-bg-rgb);
$color-warm-lightest-rgb: var(--#{$prefix}color-warm-lightest-rgb);

$primary: darken(map-get($xz-colors, cold), 10%);

/* 链接 */
$link-decoration: none;

/* 字体 */
$font-family-sans-serif-latin: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans";
$font-family-sans-serif-chinese: "Source Han Sans CN", "Source Han Sans SC", "Source Han Sans", "Noto Sans CJK SC", "Hiragino Sans GB", "PingFang SC", "Microsoft YaHei";
$font-family-sans-serif: append(join($font-family-sans-serif-latin, $font-family-sans-serif-chinese), sans-serif);

$font-family-serif-latin: STIX-Web, "Noto Serif", "Times New Roman";
$font-family-serif-chinese: "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif", Simsun, serif;
$font-family-serif: append(join($font-family-serif-latin, $font-family-serif-chinese), sans-serif);

$font-family-monospace-latin: "Source Code Pro", Consolas, "Liberation Mono", "Courier New";
$font-family-monospace: append(join($font-family-monospace-latin, $font-family-sans-serif-chinese), monospace);

/* 字号 */
$font-size-root: 15px;
$font-size-base: 1rem;

$line-height-base: 1.732050807568877;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$headings-font-weight: 600;
$headings-line-height: inherit;

/* 表格 */

/* 导航条 */
$navbar-light-color: $color-cold-dark;
$navbar-light-bg: $color-cold-lightest;
$navbar-light-border: $color-cold;

$navbar-light-link-color: $color-cold;
$navbar-light-link-hover-color: $color-cold-dark;
$navbar-light-link-active-color: $color-cold-slightly-dark;
$navbar-light-link-disabled-color: $color-cold-lighter;

/* 导航 */
$nav-link-hover-bg: $color-cold-light;

/* 代码 */
$kbd-bg: $color-warm-dark;
$kbd-color: $color-warm-light;

$pre-bg: $color-warm-light;
$pre-color: $color-warm-dark;
$pre-border-color: $color-warm-dark;

/* 类型 */
$blockquote-font-size: $font-size-base;
$blockquote-border-color: $color-warm-dark;

/* Modal */
$modal-sm: 100%;
$modal-md: 900px;
$modal-lg: 900px;
$modal-xl: 900px;
$modal-content-border-width: 0;

/* 图标 */
$bootstrap-icons-font-dir: "https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/fonts";
