---
---
/* 访谈 */
h2 {
  text-align: center;
}

h3 {
  padding: 15px 20px;
  border-left: 4px solid #bbb;
  background-color: #f2f2f2;
}

.question {
  position: relative;
  padding-left: 2.5em;
  margin-top: 60px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2em;
    content: '——';
  }

  h2 + &, h3 + &, h4 + & {
    margin-top: 0;
  }
}

.border-left {
  padding-left: calc(1em - 5px);
  border-left: 5px solid;
}

.border-blue {
  @extend .border-left;
  border-color: #009beb;
  color: #009beb;
}

.border-green {
  @extend .border-left;
  border-color: #009682;
  color: #009682;
}

.border-orange {
  @extend .border-left;
  border-color: #f5aa00;
  color: #f5aa00;
}

.border-purple {
  @extend .border-left;
  border-color: #6f42c1;
  color: #6f42c1;
}

.border-red {
  @extend .border-left;
  border-color: #e60012;
  color: #e60012;
}