---
---
.xz-postlist > thead > tr > th:nth-child(2) {
  width: 10em;
}

.xz-postlist > thead > tr > th:nth-child(3), .xz-postlist > thead > tr > th:last-child {
  width: 7em;
}

.post-tag-simp > a {
  color: #ffffff;
}