<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        <!-- Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <!-- Bootstrap
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
        <!-- Highlight -->
        <script src="/highlight.pack.js"></script>
        <link rel="stylesheet" href="/highlight.css"/>
        <!-- MathJax -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_SVG" integrity="sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv" crossorigin="anonymous"></script>
        <!-- Livere -->
        <script async src="https://cdn-city.livere.com/js/embed.dist.js"></script>
        <!-- Main -->
        <link rel="stylesheet" href="/main.css"/>
        <script src="/main.js"></script>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-8317643192080236",
                enable_page_level_ads: true
            });
        </script>
    </head>
    <body>
        <div id="leftBlock">
            <div id="leftleftBlock">
                <div id="leftAvatar"></div>
                <a id="leftTopLink" href="/">{{ site.name }}</a>
                <div id="leftDescription">{{ site.description }}</div>
            </div>
            <div id="leftrightBlock">
                <ul id="leftToggle">
                    <li class="leftToggleItem"><a class="leftToggleItemLink leftToggleItemLinkOn" data-toggle-item="#leftToc">本页目录</a></li>
                    <li class="leftToggleItem"><a class="leftToggleItemLink" data-toggle-item="#leftNavigation">站点导航</a></li>
                </ul>
                <ul id="leftToc"></ul>
                <ul id="leftNavigation" style="display: none;">
                    <li class="leftNavigationItem"><a class="leftNavigationItemLink" href="/Study/">学习区</a></li>
                    <li class="leftNavigationItem"><a class="leftNavigationItemLink" href="/PaperMario/">纸片马力欧 超级贴纸 专题站</a></li>
                    <li class="leftNavigationItem"><a class="leftNavigationItemLink" href="javascript:window.print()">打印本页</a></li></ul>
                </ul>
            </div>
        </div>
        <div id="content">
{{ content }}
        </div>
        <a id="topLink"></a>
        <div id="footer">
            <div id="footerLicense">
                <a id="footerLicenseLink" href="//creativecommons.org/licenses/by-nc-sa/4.0/"></a>
                <span id="footerLicenseText">除非另有声明，本网站采用“<a href="//creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>”进行许可。</span>
            </div>
            <div id="footerCopyright">2017 - 2019 来自 Xzonn 的小站</div>
            <img id="footerCounter" src="https://www.reliablecounter.com/count.php?page=xzonn.github.io&digit=style/plain/3/&reloads=1">
            <script src="https://s96.cnzz.com/z_stat.php?id=1275861247&web_id=1275861247"></script>
        </div>
    </body>
</html>
