<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="referrer" content="same-origin"/>
        {% feed_meta %}
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        <!-- Highlight -->
        <link rel="stylesheet" href="/css/highlight.css"/>
        <!-- MathJax -->
        <script type="text/x-mathjax-config">
            MathJax.Ajax.config.path["mhchem"] = "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [["$", "$"], ["\\(", "\\)"]],
                    displayMath: [["$$", "$$"], ["\\[", "\\]"]],
                    processEscapes: true,
                },
                TeX: {
                    extensions: ["[mhchem]/mhchem.js"]
                },
                showMathMenu: false,
                SVG: {
                    scale: 86,
                    blacker: 0,
                    font: "STIX-Web",
                    undefinedFamily: "SongTi"
                }
            });
            MathJax.Hub.Register.StartupHook('End', function () {
                try {
                    Han(document.body).render();
                } catch (e) {}
                window.allDone = 1;
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_SVG" integrity="sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv" crossorigin="anonymous"></script>
        <!-- Qrcode -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js" integrity="sha256-9MzwK2kJKBmsJFdccXoIDDtsbWFh8bjYK/C7UjB1Ay0=" crossorigin="anonymous"></script>
        <!-- Font Awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-- Main -->
        <link rel="stylesheet" href="/css/main.css"/>
        <script src="/js/main.js"></script>
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132338281-1"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-132338281-1");
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-8317643192080236",
                enable_page_level_ads: true
            });
        </script>{% assign css = page.css | split: " " %}{% for i in css %}
        <link rel="stylesheet" href="/css/{{ i }}.css"/>{% endfor %}{% assign js = page.js | split: " " %}{% for i in js %}
        <script src="/js/{{ i }}.js"></script>{% endfor %}
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    </head>
    <body{% if page.class %} class="{{ page.class }}"{% endif %}>
        <div class="leftBlock">
            <div class="leftAvatar"></div>
            <a class="leftTopLink" href="/">{{ site.name }}</a>
            <div class="leftDescription">{{ site.description }}</div>
            <div class="leftTocTitle">本页目录</div>
            <ul class="leftToc"></ul>
        </div>
        <div id="rightBlock">
            <a id="rightQrcodeBlock"></a>
{{ content }}
        </div>
        <div id="payBlock">
            <a id="alipayQrcodeBlock"></a>
            <a id="wxpayQrcodeBlock"></a>
        </div>
        <a id="topLink" href></a>
        <footer>
            <div class="footerLicense">
                <a class="footerLicenseLink" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"></a>
                <div class="footerLicenseText">除非另有声明，本网站采用“<a href="//creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>”进行许可。</div>
                <div class="footerCopyright">&copy; 2017 - 2019 来自 <a href= "/">Xzonn 的小站</a> | Generated by <a href="https://github.com/Xzonn/xzonn.github.io/">Github Pages</a></div>
            </div>
            <ul class="footerLink">
                <li class="footerLinkItem"><a href="/About/">关于本站</a></li>
                <li class="footerLinkItem"><a href="/pages/">全部页面</a></li>
                <li class="footerLinkItem"><a href="/Study/">学习资料</a></li>
                <li class="footerLinkItem"><a href="/Pokemon-Chinese-Translation-Revise/">《精灵宝可梦 白金》汉化修正</a></li>
                <li class="footerLinkItem"><a href="/LuigiMansion/">《路易吉洋馆》汉化发布</a></li>
                <li class="footerLinkItem"><a href="/feed.xml">RSS</a></li>
            </ul>
            <div id="footerCnzz"><script src="https://s96.cnzz.com/z_stat.php?id=1275861247&web_id=1275861247"></script></div>
        </footer>
        <!-- Han -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.js" integrity="sha256-D3DzTPYvGeWPP0KbYy71NlCGtAltm14Dk4bmFRUGRa8=" crossorigin="anonymous"></script>
    </body>
</html>
