<!DOCTYPE html>
<html lang="zh-cn">
    <head>
{% include head.html %}
    </head>
    <body{% if page.class %} class="{{ page.class }}"{% endif %}>
{% include header.html %}
{% include heading.html %}
        <div class="xz-content container">
            <div class="row">
                <div class="xz-content-main col-md-12">
                    <article>
{{ content }}
                    </article>
                </div>
            </div>
        </div>
{% include footer.html %}
    </body>
</html>