<!DOCTYPE html>
<html lang="zh-cn">
    <head>
{% include head.html %}
    </head>
    <body class="formal {{ page.class }}">
        <!-- Formal Heading Start -->
        <div class="xz-heading jumbotron">
            <div class="container">
                <div class="xz-heading-text">
                    <h1>{{ page.title }}</h1>
                    <ul class="xz-meta">
                        <li class="xz-meta-author">{{ page.author }}</li>
                        <li class="xz-meta-date">{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" | plus: 0 }}月{{ page.date | date: "%e" }}日</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Formal Heading End -->
        <!-- Formal Content Start -->
        <div class="xz-content container">
            <div class="row">
                <div class="xz-sidenav col-md-3 hidden-print hidden-xs hidden-sm" role="complementary">
                    <ul class="xz-sidenav-list nav nav-stacked" role="navigation"></ul>
                </div>
                <div class="xz-content-main col-md-9">
                    <article>
{{ content }}
                    </article>
                </div>
            </div>
        </div>
        <!-- Formal Content End -->
        <!-- Formal Footer Start -->
        <!-- Han -->
        <script src="{{ site.cdnpath }}/js/han.min.js"></script>
        <!-- Common Footer End -->
        <!-- {{ page.url }} -->
    </body>
</html>