<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Xzonn"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="referrer" content="same-origin"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
        <script data-ad-client="ca-pub-8317643192080236" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
{{ content }}
    </body>
</html>